<template>
<div class="elpapu">
	<section>
		<h1>{{noMen}} Hombres</h1>
		<ul>
			<li v-for="(man,indice) in men" :key="indice.id">
				{{indice}}- {{man.name.first}} {{man.name.last}} ({{man.gender}})
			</li>
		</ul>
	</section>

  <section>
    <h2>{{noWomen}} Mujeres</h2>
    <ul>
      <li v-for="(woman,index) in women" :key="index.id">
        {{index}}- {{woman.name.first}} {{woman.name.last}} ({{woman.gender}})
      </li>
    </ul>
  </section>
</div>
</template>

<script>
import {mapActions,mapGetters,mapState} from 'vuex';

export default {
	mounted() {
    this.loadUsers()
	},
	computed: {
		...mapState(['men','women']),
		...mapGetters(['noMen','noWomen'])
	},
	methods: mapActions(['loadUsers'])
}
</script>

<style>
.elpapu{
  display: flex;
  justify-content: center;
}
</style>
