<template>
  <div id="app">
		<user></user>
  </div>
</template>

<script>
import User from '@/components/User.vue';

export default {
  name: 'App',
  components: {User}
}
</script>

<style>
</style>
